body {
  background-image: url('/assets/img/bg/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: terminus !important;
  font-size: 1.25rem;
  color: #d2d4de;
}

@font-face {
  font-family: terminus;
  src: url("/assets/fonts/terminus.ttf");
}

.fg-blue {
  color: #84a0c6;
}
.fg-1 {
  color: #a093c7;
}
.fg-2 {
  color: #b4be82;
}
.fg-3 {
  color: #e2a478;
}
.fg-4 {
  color: #89b8c2;
}

.github {
  color: rgb(167, 165, 166);
}
.reddit {
  color: rgb(229, 88, 41);
}
.keybase {
  color: rgb(255, 111, 33);
}
.matrix {
  color: rgb(90, 110, 200);
}

.h-full {
  height: 100%;
}
.min-h-full {
  min-height: 98%;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.terminal {
  background-color: rgba(22, 24, 33, 0.8);
  padding: 1rem;
  margin; 1rem;
  border-radius: 10px;
  width: 42rem;
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}

a:hover {
  background: #6b7089;
  color: #161821;
}

.pgpkey {
  text-align: left;
  height: 12rem;
  width: auto;
  overflow: auto;
}

.pt-1 {
  padding-top: 1rem;
}
.pt-05 {
  padding-top: 0.5rem;
}
.pt-0 {
  padding-top: 0rem;
}

p, pre {
  margin: 0px !important;
}

@media only screen and (max-width: 765px) {
  body {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-size: auto;
  }
  .terminal {
    background-color: rgba(22, 24, 33, 0.8);
    padding: 1rem;
    margin: 0px !important;
    border-radius: 0px;
    width: 100%;
    height: 98vh;
    font-size: 0.8rem;
  }
  .pgpkey {
    text-align: left !important;
    height: 17rem !important;
    width: auto !important;
    overflow: auto !important;
    padding-right: 0.5rem;
  }
  .h-99 {
    height: 99vh;
  }
  .text-075 {
    font-size: 0.75rem !important;
  }
  .h-full {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: gray;
}
