body {
  color: #d2d4de;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) repeat,
    url("../img/bg.png") no-repeat center fixed;
  background-color: #161821;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-color: #000000;
	margin: 0 auto;
}

@font-face {
  font-family: terminus;
  src: url("../assets/terminus.ttf") format("truetype");
}

* {
  font-family: terminus !important;
  font-size: 20px;
}

.terminal {
	margin: 0 auto;
	max-width: 50%;
  padding: 20px;
	min-width: 650px;
  border-radius: 10px;
  background-color: rgb(22, 24, 33, 0.8);
}

.desc {
	width: auto;
	max-width: 700px;
}

.github {
  color: rgb(167, 165, 166);
}

.reddit {
  color: rgb(229, 88, 41);
}

.keybase {
  color: rgb(255, 111, 33);
}

.matrix {
  color: rgb(90, 110, 200);
}

.aur {
  color: #7289da;
}

.pgp-dl {
  color: #7289da;
  text-decoration: none;
}

a:hover {
  background: #6b7089;
  color: #161821;
}

.pgpkey {
  text-align: left;
  height: 7rem;
  width: auto;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: gray;
}


/* @media only screen and (max-height: 700px) { */
/*   .terminal { */
/*     padding: 10px; */
/*     min-width: 800px; */
/*     width: 98%; */
/*     position: absolute; */
/*     top: 0px; */
/*     left: 0px; */
/*     transform: translateY(-0%); */
/*   } */
/* 	* { */
/* 		font-size: 40px; */
/* 	} */
/*   .pgpkey { */
/*     height: 10rem; */
/*   } */
/* } */

@media only screen and (max-width: 1000px) {
	.terminal {
		margin: 0 0;
		max-width: 95%;
	}
}
